/* uni-app 全局样式变量 */
$im-green: #07c160;
$im-bubble-green: #95ec69;
$im-bg: #ededed;
$im-line: #e5e5e5;
$im-text: #191919;
$im-text-gray: #999999;

/* #ifdef H5 */
/* 电脑浏览器预览时限制为手机宽度，居中展示 */
/* #endif */
